
@font-face {
    font-family: 'PressStart2P-Regular';
    src: url('./PressStart2P-Regular.ttf');
}

@font-face {
    font-family: 'SourceSansPro Bold' ;
    src: url(./SourceSansPro-Bold.otf);
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #0e7490;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 90px;
  padding-bottom: 1px;
  box-sizing: border-box;
  background-color: #042639;
  box-shadow: 1px 1px 1px #1e1b4b;
}

#logo-app {
    font-weight: 900;
    color: #cdc8da;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

.nav-bar > a {
    text-decoration: none;
    margin: 10px;
}

.link-btn {
    background-color: #4412b8;
    color: #cdc8da;
    padding: 10px 25px;
    border-radius: 18px;
    box-shadow: #1e1b4b 2px 2px 2px;
    transition: background-color 0.7s ease-out;
}

.link-btn:hover {
    cursor: pointer;
    background-color: #1e1b4b;
}


.splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #cdc8da;
    opacity: 1;
    z-index: 3;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.animations {
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.display-none {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0c0d0e;
    opacity: 1;
    z-index: 3;
    margin: auto;
    display: none;
    justify-content: center;
    align-items: center;
}

@keyframes moveSplash {
    0% {
        transform: translateX(-100%) rotate(30deg);
        border-color: #ad5252;
    }

    20% {
        transform: translateX(-20%) rotate(100deg);
        border: solid 45px #b91859;
    }

    40% {
        transform: translateX(-2%) translateY(30%) rotate(150deg);
        border-radius: 30px;
        margin: 5;
        border: solid 30px #ffa500;
    }

    60% {
        transform: translateX(2%) translateY(-50%) rotate(200deg);
        border-color: orangered;
        border-radius: 40px;
        margin: 15px;
    }

    80% {
        transform: translateX(20%) rotate(300deg);
        border-radius: 50px;
        margin: 20px;
        border: solid 10px #ff0000;
    }

    100% {
        transform: translateX(100%) rotate(360deg);
        border-radius: 30px;
        border: solid 5px #00ff00;
    }
}

.anim-splash {
    width: 20px;
    height: 20px;
    border: solid 15px ;
    border-color: #4412b8;
    animation: moveSplash 3000ms linear infinite;
}

.text-splash {
    font-size: 20px;
    color: #4412b8;
    font-weight: 900;
    text-align: center;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  background-color: #0f172a;
  padding: 10px 30px;
  margin: auto;
}

.list> li {
    animation: moveRotateLeft 10s linear infinite ;
    font-family: 'PressStart2P-Regular';
}

@keyframes moveRotateLeft {
    20% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-1000%);
    }
}

.list > li,
li > span {
  font-size: 14px;
  list-style: none;
  color: #be0808;
  font-weight: 900;
}

.search-city {
  width: max-content;
  margin: 5px auto;
}

#search-input {
  width: max(200px, 400px);
  height: 35px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-right: 0;
  box-sizing: border-box;
  border: solid #c4d1d3 0.6px;
  padding-left: 20px;
}

#search-button {
  margin: 0;
  padding: 10px;
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  box-sizing: border-box;
  position: relative;
  right: 5px;
  background-color: #fff;
  transition: background-color 2s ease-out 0.50s;
  cursor: pointer;
}

#search-button:hover {
  background-color: #0c0d0e;
  cursor: pointer;
  color: #fff;
}

#container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto 0 ;
    padding: 2rem 1rem 0 2rem;
}

.weather-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-image {
  width: 8rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.weather-image > .weather {
  width: 100px;
  height: 100px;
}

.tod {
    width: 15rem;
    height: 15rem;
    box-sizing: border-box;
    padding-left: 3rem;
    padding-top: 3rem;
}

#temp {
  font-size: 3rem;
  font-weight: 900;
  text-shadow: 2px 2px 2px #181415;
}

#today {
  font-size: 30px;
  color: #cdc8da;
  font-family: 'SourceSansPro Bold';
  background-color: #042639e0;
  padding: 5px 20px;
  border-radius: 5px;
  width: fit-content;
}

.cloud , #cloud {
    font-size: 12px;
    font-weight: 800;
    color: orangered;   
}

#cloud {
    margin-left: 5px;
}

.cloud {
    display: flex;
    flex-direction: row;
    background-color: #181b1bbe;
    padding: 5px;
    border-radius: 3px;
}

.weather-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80vw;
  height: auto;
  background-color: #042639cb;
  border-radius: 10px;
  margin: 2rem auto;
}

h4 {
  text-transform: uppercase;
  font-size: 1rem;
  color: #cdc8da;
}

p {
  font-size: 14px;
  color: #cdc8da;
}

span {
  font-weight: 800;
  font-size: 12px;
  color: #b91859;
}

h3 {
  font-size: 20px;
  color: #cdc8da;
  margin: 25px 0;
}

.footer {
    width: 100vw;
    box-sizing: border-box;
    background-color: #314c58;
    color: #cdc8da;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
